{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"max-lines-per-function": 0,
		"max-statements": 0,
		"multiline-comment-style": 0,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"ArrayCreate",
				"Call",
				"CreateDataPropertyOrThrow",
				"Get",
				"IsArray",
				"IteratorClose",
				"IteratorStep",
				"IteratorValue",
				"GetIterator",
				"Set",
				"IsCallable",
				"IsConstructor",
				"LengthOfArrayLike",
				"ToObject",
				"ToString",
			],
		}],
		"no-magic-numbers": 0,
		"quote-props": [2, "always", { "keywords": true }],
		"id-length": [2, { "max": 25, "min": 1 }],
	},

	"ignorePatterns": ["coverage"],

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": 0,
			},
		},
	],
}
